#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
ifneq ($(DEB_HOST_GNU_TYPE),$(DEB_BUILD_GNU_TYPE))
CROSS= --build $(DEB_BUILD_GNU_TYPE) --host $(DEB_HOST_GNU_TYPE)
else
CROSS= --build $(DEB_BUILD_GNU_TYPE)
endif

DEBIAN  := $(shell dpkg-parsechangelog | grep ^Version: | cut -d' ' -f2)
VERSION := $(shell echo '$(DEBIAN)' | cut -d- -f1)


get-orig-source:
	git archive --prefix='tokentube_$(VERSION).orig/' --format=tgz -o 'tokentube_$(VERSION).orig.tar.gz' 'v$(VERSION)'

config.status: configure
	dh_testdir
	# Add here commands to configure the package.
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif
	./configure $(CROSS) --prefix=/usr --mandir=/usr/share/man --infodir=/usr/share/info CFLAGS="$(CFLAGS)" LDFLAGS="-Wl,-z,defs"


build: build-stamp

build-stamp:  config.status 
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE)

	#docbook-to-man debian/tokentube.sgml > tokentube.1

	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp 

	# Add here commands to clean up after the build process.
	[ ! -f Makefile ] || $(MAKE) distclean
	rm -f config.sub config.guess

	#debconf-updatepo
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep  
	dh_installdirs

	$(MAKE) DESTDIR=$(CURDIR)/debian/tokentube install
	mkdir -p  $(CURDIR)/debian/tokentube/lib/cryptsetup/scripts/
	chmod 755 $(CURDIR)/debian/tokentube/lib/cryptsetup/scripts/
	ln -sf ../../../usr/lib/tokentube/libexec/pba $(CURDIR)/debian/tokentube/lib/cryptsetup/scripts/tokentube

	mkdir -p  $(CURDIR)/debian/tokentube/boot/tokentube/
	chmod 755 $(CURDIR)/debian/tokentube/boot/tokentube/
	mkdir -p  $(CURDIR)/debian/tokentube/boot/tokentube/pba/
	chmod 755 $(CURDIR)/debian/tokentube/boot/tokentube/pba/
	mkdir -p  $(CURDIR)/debian/tokentube/boot/tokentube/user/
	chmod 775 $(CURDIR)/debian/tokentube/boot/tokentube/user/
	mkdir -p  $(CURDIR)/debian/tokentube/boot/tokentube/otp/
	chmod 775 $(CURDIR)/debian/tokentube/boot/tokentube/otp/
	install -m 0644 $(CURDIR)/conf/boot_tokentube_pba.conf		$(CURDIR)/debian/tokentube/boot/tokentube/pba.conf
	install -m 0644 $(CURDIR)/conf/boot_tokentube_pba_user.conf	$(CURDIR)/debian/tokentube/boot/tokentube/pba/user.conf
	touch 								$(CURDIR)/debian/tokentube/boot/tokentube/pba/user-default.conf
	install -m 0644 $(CURDIR)/conf/boot_tokentube_pba_otp.conf	$(CURDIR)/debian/tokentube/boot/tokentube/pba/otp.conf

	mkdir -p  $(CURDIR)/debian/tokentube/etc/tokentube/
	chmod 755 $(CURDIR)/debian/tokentube/etc/tokentube/
	install -m 0644 $(CURDIR)/conf/etc_tokentube_tokentube.conf $(CURDIR)/debian/tokentube/etc/tokentube/tokentube.conf

	mkdir -p  $(CURDIR)/debian/tokentube/etc/tokentube/keys/
	chmod 755 $(CURDIR)/debian/tokentube/etc/tokentube/keys/

	mkdir -p  $(CURDIR)/debian/tokentube/etc/tokentube/conf.d
	chmod 755 $(CURDIR)/debian/tokentube/etc/tokentube/conf.d
	install -m 0644 $(CURDIR)/conf/etc_tokentube_conf.d_plugin-exec.conf $(CURDIR)/debian/tokentube/etc/tokentube/conf.d/plugin-exec.conf
	install -m 0644 $(CURDIR)/conf/etc_tokentube_conf.d_plugin-helpdesk.conf $(CURDIR)/debian/tokentube/etc/tokentube/conf.d/plugin-helpdesk.conf

	mkdir -p  $(CURDIR)/debian/tokentube/usr/share/initramfs-tools/hooks/
	chmod 755 $(CURDIR)/debian/tokentube/usr/share/initramfs-tools/hooks/
	install -m 0755 $(CURDIR)/debian/scripts/tokentube/initramfs-tools $(CURDIR)/debian/tokentube/usr/share/initramfs-tools/hooks/tokentube
	mkdir -p  $(CURDIR)/debian/tokentube/usr/share/pam-configs/
	chmod 755 $(CURDIR)/debian/tokentube/usr/share/pam-configs/
	install -m 0644 $(CURDIR)/conf/etc_pam.d_tokentube $(CURDIR)/debian/tokentube/usr/share/pam-configs/tokentube

	mkdir -p  $(CURDIR)/debian/tokentube/usr/lib/python3/dist-packages/
	chmod 755 $(CURDIR)/debian/tokentube/usr/lib/python3/dist-packages/
	ln -sf /usr/lib/python3.4/site-packages/tokentube.a   $(CURDIR)/debian/tokentube/usr/lib/python3/dist-packages/tokentube.a
	ln -sf /usr/lib/python3.4/site-packages/tokentube.la  $(CURDIR)/debian/tokentube/usr/lib/python3/dist-packages/tokentube.la
	ln -sf /usr/lib/python3.4/site-packages/tokentube.so  $(CURDIR)/debian/tokentube/usr/lib/python3/dist-packages/tokentube.so
	ln -sf /usr/lib/python3.4/site-packages/tokentube_cli $(CURDIR)/debian/tokentube/usr/lib/python3/dist-packages/tokentube_cli

	# tokentube-plugin-python
	mkdir -p  $(CURDIR)/debian/tokentube-plugin-python/etc/tokentube/conf.d
	chmod 755 $(CURDIR)/debian/tokentube-plugin-python/etc/tokentube/conf.d
#TODO	install -m 0644 $(CURDIR)/conf/etc_tokentube_conf.d_plugin-python.conf $(CURDIR)/debian/tokentube-plugin-python/etc/tokentube/conf.d/plugin-python.conf

	mkdir -p  $(CURDIR)/debian/tokentube-plugin-python/usr/lib/tokentube/plugins.d
	chmod 755 $(CURDIR)/debian/tokentube-plugin-python/usr/lib/tokentube/plugins.d
	mv $(CURDIR)/debian/tokentube/usr/lib/tokentube/plugins.d/libtokentube-plugin-python.* $(CURDIR)/debian/tokentube-plugin-python/usr/lib/tokentube/plugins.d

	mkdir -p  $(CURDIR)/debian/tokentube-plugin-python/usr/lib/tokentube/libexec/python
	chmod 755 $(CURDIR)/debian/tokentube-plugin-python/usr/lib/tokentube/libexec/python
#TODO	install -m 0644 $(CURDIR)/debian/scripts/tokentube-plugin-python/luks-loadkey.py $(CURDIR)/debian/tokentube-plugin-python/usr/lib/tokentube/libexec/python/luks-loadkey.py

	# tokentube-plugin-lua
	mkdir -p  $(CURDIR)/debian/tokentube-plugin-lua/etc/tokentube/conf.d
	chmod 755 $(CURDIR)/debian/tokentube-plugin-lua/etc/tokentube/conf.d
	install -m 0644 $(CURDIR)/conf/etc_tokentube_conf.d_plugin-lua.conf $(CURDIR)/debian/tokentube-plugin-lua/etc/tokentube/conf.d/plugin-lua.conf

	mkdir -p  $(CURDIR)/debian/tokentube-plugin-lua/usr/lib/tokentube/plugins.d
	chmod 755 $(CURDIR)/debian/tokentube-plugin-lua/usr/lib/tokentube/plugins.d
	mv $(CURDIR)/debian/tokentube/usr/lib/tokentube/plugins.d/libtokentube-plugin-lua.* $(CURDIR)/debian/tokentube-plugin-lua/usr/lib/tokentube/plugins.d

	mkdir -p  $(CURDIR)/debian/tokentube-plugin-lua/usr/lib/tokentube/libexec/lua
	chmod 755 $(CURDIR)/debian/tokentube-plugin-lua/usr/lib/tokentube/libexec/lua
	install -m 0644 $(CURDIR)/debian/scripts/tokentube-plugin-lua/load_lukskey.lua $(CURDIR)/debian/tokentube-plugin-lua/usr/lib/tokentube/libexec/lua/load_lukskey.lua

	# tokentube-plugin-misc
	mkdir -p  $(CURDIR)/debian/tokentube-plugin-misc/etc/tokentube/conf.d
	chmod 755 $(CURDIR)/debian/tokentube-plugin-misc/etc/tokentube/conf.d

	mkdir -p  $(CURDIR)/debian/tokentube-plugin-misc/usr/lib/tokentube/plugins.d
	chmod 755 $(CURDIR)/debian/tokentube-plugin-misc/usr/lib/tokentube/plugins.d
	mv $(CURDIR)/debian/tokentube/usr/lib/tokentube/plugins.d/libtokentube-plugin-test.* $(CURDIR)/debian/tokentube-plugin-misc/usr/lib/tokentube/plugins.d
	mv $(CURDIR)/debian/tokentube/usr/lib/tokentube/plugins.d/libtokentube-plugin-log.* $(CURDIR)/debian/tokentube-plugin-misc/usr/lib/tokentube/plugins.d
	mv $(CURDIR)/debian/tokentube/usr/lib/tokentube/plugins.d/libtokentube-plugin-syslog.* $(CURDIR)/debian/tokentube-plugin-misc/usr/lib/tokentube/plugins.d

	# tokentube-ssod
	mkdir -p  $(CURDIR)/debian/tokentube-ssod/usr/lib/tokentube/libexec
	chmod 755 $(CURDIR)/debian/tokentube-ssod/usr/lib/tokentube/libexec
	mv  $(CURDIR)/debian/tokentube/usr/lib/tokentube/libexec/ssod $(CURDIR)/debian/tokentube-ssod/usr/lib/tokentube/libexec/ssod
	mkdir -p  $(CURDIR)/debian/tokentube-ssod/usr/lib/tokentube/libexec/ssod.d/greeters.d
	chmod 755 $(CURDIR)/debian/tokentube-ssod/usr/lib/tokentube/libexec/ssod.d/greeters.d
	mkdir -p  $(CURDIR)/debian/tokentube-ssod/usr/share/initramfs-tools/hooks/
	chmod 755 $(CURDIR)/debian/tokentube-ssod/usr/share/initramfs-tools/hooks/
	install -m 0755 $(CURDIR)/debian/scripts/tokentube-ssod/initramfs-tools $(CURDIR)/debian/tokentube-ssod/usr/share/initramfs-tools/hooks/tokentube-ssod
	mkdir -p  $(CURDIR)/debian/tokentube-ssod/boot/tokentube/pba
	chmod 755 $(CURDIR)/debian/tokentube-ssod/boot/tokentube/pba
	install -m 0644 $(CURDIR)/conf/boot_tokentube_pba_sso.conf $(CURDIR)/debian/tokentube-ssod/boot/tokentube/pba/sso.conf
	mkdir -p  $(CURDIR)/debian/tokentube-ssod/etc/tokentube/sso
	chmod 755 $(CURDIR)/debian/tokentube-ssod/etc/tokentube/sso
	install -m 0644 $(CURDIR)/conf/etc_tokentube_sso_ssod.conf $(CURDIR)/debian/tokentube-ssod/etc/tokentube/sso/ssod.conf

	# tokentube-sso-lightdm
	mkdir -p $(CURDIR)/debian/tokentube-sso-lightdm/usr/lib/tokentube/libexec
	mv       $(CURDIR)/debian/tokentube/usr/lib/tokentube/libexec/sso-greeter-lightdm $(CURDIR)/debian/tokentube-sso-lightdm/usr/lib/tokentube/libexec/sso-greeter-lightdm
	mkdir -p $(CURDIR)/debian/tokentube-sso-lightdm/usr/sbin
	ln -s ../../usr/lib/tokentube/libexec/sso-greeter-lightdm $(CURDIR)/debian/tokentube-sso-lightdm/usr/sbin/tokentube-sso-lightdm-greeter
 
	mkdir -p  $(CURDIR)/debian/tokentube-sso-lightdm/etc/tokentube/sso
	chmod 755 $(CURDIR)/debian/tokentube-sso-lightdm/etc/tokentube/sso
	touch $(CURDIR)/debian/tokentube-sso-lightdm/etc/tokentube/sso/greeter-lightdm.conf
	mkdir -p  $(CURDIR)/debian/tokentube-sso-lightdm/usr/share/xgreeters
	chmod 755 $(CURDIR)/debian/tokentube-sso-lightdm/usr/share/xgreeters
	install -m 0644 $(CURDIR)/debian/conf/tokentube-sso-lightdm/usr_share_xgreeters_tokentube-sso-lightdm-greeter.desktop $(CURDIR)/debian/tokentube-sso-lightdm/usr/share/xgreeters/tokentube-sso-lightdm-greeter.desktop
	mkdir -p  $(CURDIR)/debian/tokentube-sso-lightdm/etc/lightdm/lightdm.conf.d
	chmod 755 $(CURDIR)/debian/tokentube-sso-lightdm/etc/lightdm/lightdm.conf.d

	#tokentube-dev
	mkdir -p  $(CURDIR)/debian/tokentube-dev/usr/
	chmod 755 $(CURDIR)/debian/tokentube-dev/usr/
	mv $(CURDIR)/debian/tokentube/usr/include $(CURDIR)/debian/tokentube-dev/usr/include

# Build architecture-independent files here.
binary-indep: install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
#	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
