#!/bin/sh -e

. /usr/share/debconf/confmodule

if [ `find /boot/tokentube/user/ -type f | wc -l` = "0" ]; then
	LUKS_PARTITION=`egrep "luks,|luks$" /etc/crypttab | head -1 | cut -d' ' -f2 | sed -e s/UUID=//`
	if [ ! -f /etc/tokentube/keys/LUKS:$LUKS_PARTITION ]; then
		dd if=/dev/random bs=32 count=1 2>/dev/null | openssl sha -binary -sha256 > /etc/tokentube/keys/LUKS:$LUKS_PARTITION
		chmod 600 /etc/tokentube/keys/LUKS:$LUKS_PARTITION
		db_input high tokentube/luks_password || true
		db_go
		db_get tokentube/luks_password
		echo -n "$RET" | cryptsetup -d - luksAddKey /dev/disk/by-uuid/$LUKS_PARTITION /etc/tokentube/keys/LUKS:$LUKS_PARTITION > /dev/null
	fi
	db_input high tokentube/initial_username || true
	db_go
	db_get tokentube/initial_username
	export TT_USERNAME=$RET
	db_input high tokentube/initial_password || true
	db_go
	db_get tokentube/initial_password
	export TT_PASSWORD=$RET
	tokentube user-create  -u "$TT_USERNAME" -p "$TT_PASSWORD"  > /dev/null
	echo "user {"                                        > /boot/tokentube/pba/user-default.conf
	echo "        default-username = \"$TT_USERNAME\""  >> /boot/tokentube/pba/user-default.conf
	echo "}"                                            >> /boot/tokentube/pba/user-default.conf
	db_reset tokentube/luks_password
	db_reset tokentube/initial_username
	db_reset tokentube/initial_password
	db_fset  tokentube/luks_password seen false
	db_fset  tokentube/initial_username seen false
	db_fset  tokentube/initial_password seen false
	sed -i -e 's/^\(.*\) \(.*\) \(.*\) \(.*\)\(\bluks\b\)\(.*\)$/\1 \2 LUKS:'$LUKS_PARTITION' \4\5,keyscript=tokentube\6/g' /etc/crypttab
fi

exit 0
